

.motor-counter {
    text-align: center;
    justify-content: center;
    height: 10vh;
    /* background-color: black; */
}

.motor-counter h5 {
    color: var(--white-color);
    text-shadow: 3px 3px 3px black;
}

#counter {
    font-size: 24px;
    color: white;
    text-shadow: 3px 3px 3px black;
}
