.intro-content{
    position: relative;
    /* top: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 80vh;
}

.intro-text-content, .intro-img{
    text-shadow: 3px 3px 3px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img img,
.intro-img svg {
    /* display: flex; */
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* height: 100vh; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h6{
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h6::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(7deg);

}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 4rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
  }

.gallery-img img {
    transition: all 300ms ease-in-out;
  }
  
  .gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
  }