.intro-content{
    position: relative;
    /* top: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 80vh;
}

.intro-text-content, .intro-img{
    text-shadow: 3px 3px 3px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-img img,
.intro-img svg {
    display: flex;
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 60rem;
    display: flex;
    flex-flow: column wrap;
    height: 90vh;
    justify-content: center;
    text-align: center;
}

